<title>社内検索エンジン</title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<link rel="icon" href="img/logo/logo.png">

<!-- CSS -->
<link rel="stylesheet" href="css/master.css">
<link rel="stylesheet" href="css/sub_master.css">
<link rel="stylesheet" href="css/type_colors.css">

<!-- JS -->
<script src="https://webcomponents.maximemoreillon.com/ie_polyfill/ie_polyfill.js" charset="utf-8"></script>
