<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include partials/head %>

  </head>
  <body>

    <div class="wrapper">
      <div class="header">
        <% include partials/header %>
      </div>
      <div class="main">


        <% include partials/search_bar %>




      </div>
      <div class="footer">
        <% include partials/footer %>
      </div>
    </div>



  </body>
</html>
