.Employee{ border-color: #c00000;}

.Division{ border-color: navy;}
.Department{ border-color: mediumblue;}
.Section{ border-color: royalblue;}
.Group{ border-color: deepskyblue;}

.Workplace{ border-color: forestgreen;}


.Report{ border-color: lightslategrey;}
.Computer{ border-color: darkslategrey;}
